<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
    <link rel="stylesheet" href="/vendor/border-box.css" />
    <link rel="stylesheet" href="/styles/index.css" />
    <link rel="stylesheet" href="/styles/layout.css" />
    <script src="/vendor/jquery-3.0.0.js"></script>
    <script defer src="/scripts/app.js"></script>

    <title>Mugnificent</title>
  </head>

  <body>
    <%- include('./partials/_header') %>

    <section>

      <div class="mugs">
        <div class="mugs__filter-container">
          <label class="mugs__filter" for="filter">
            Filter by:
            <div class="mugs__options">
              <select id="mugFilter" class="mugs__">
                <option class="mugs__option" value="/mugs">Select...</option>
                <option class="mugs__option" value="/mugs/asc">Price: low to high</option>
                <option class="mugs__option" value="/mugs/desc">Price: high to low</option>
              </select>
            </div>
          </label>
        </div>

      <div class="mugs__box">
        <% for (let mug of mugs){ %>
        <div class="mugs__container">
          <% console.log(mug.id) %>
          <a href="/mugs/1" > <img class="mugs__image" src="<%= mug.image%>" alt=""></a>
          <div class="mugs__name-icon">
            <span class="mugs__price">$<%= mug.price%></span>
            <div class="mugs__name-container">
              <h3 class="mugs__name"><%= mug.name%></h3>
            </div>


            <div class="mugs__favourite">
              <img class="mugs__fav-icon" src="../icons/favourite.svg" alt="Favourite">

            </div>
          </div>
        </div>
        <%} %>
      </div>
  </section>

    <%- include('./partials/_footer') %>
  </body>

</html>
